@model WeebApp.Models.AddPostViewModel

@{
}
<h1>Add Post</h1>
<form method="post" action="Add" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Title your article</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
       
        <label for="floatingTextarea">your article</label>
        <textarea class="form-control" id="floatingTextarea" asp-for="Text"></textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>

   

     
</form>

